- name: Set up requirements
  ansible.builtin.include_tasks: reqs.yml

- name: Set up cuda
  ansible.builtin.include_tasks: cuda.yml

- name: Run llama-server
  ansible.builtin.include_tasks: localai.yml
