- name: Install required build tools
  ansible.builtin.dnf:
    name:
      - git
      - cmake
      - ninja-build
      - gcc-13
      - g++-13
      - make
      - libcurl-devel
    state: present

