name: Deploy requests

permissions:
  contents: read

on:
  workflow_call:

jobs:
  deploy-requests:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - run: kubectl apply -f generated_python_webservices_requests/ 