name: Deploy Terraform

permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    paths:
      - '.github/workflows/deploy_terraform.yml'
      - 'terraform/**'
  pull_request:

jobs:
  terraform:
    runs-on: self-hosted

    steps:
      - name: force clean Repository
        run: sudo rm -rf ${{ github.workspace }}/terraform

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: latest

      - name: Initialize Terraform
        run: sudo terraform -chdir=terraform init

      - name: Apply Terraform
        run: >-
          sudo terraform -chdir=terraform apply -auto-approve
        env:
          TF_VAR_registry_user: ${{ secrets.REGISTRY_USER }}
          TF_VAR_registry_password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: force clean Repository
        run: sudo rm -rf ${{ github.workspace }}/terraform