---
name: Deploy Kubernetes

permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    paths:
      - ".github/workflows/deploy_kubernetes.yml"
      - "kubernetes/**"
  pull_request:

jobs:
  deploy-kubernetes:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Copy htpasswd file to runner
        run: |
          RUNNER_DIR=/home/runner/actions-runner/_work
          PROJECT_NAME=platform-engineering-minikube-demo
          KUBERNETES_DIR=/${PROJECT_NAME}/${PROJECT_NAME}/kubernetes
          DIR=${RUNNER_DIR}${KUBERNETES_DIR}
          IP=$(minikube ip)
          sudo cp /etc/platform-registry/htpasswd ${DIR}/registry/htpasswd
          sudo chmod 644 ${DIR}/registry/htpasswd
          CREDENTIALS="${{ secrets.REGISTRY_USER }}:${{ secrets.REGISTRY_PASSWORD }}"
          AUTH=$(printf '%s' "$CREDENTIALS" | base64)
          CONFIG_USER="\"username\":\"${{ secrets.REGISTRY_USER }}\""
          CONFIG_PASSWORD="\"password\":\"${{ secrets.REGISTRY_PASSWORD }}\""
          CONFIG_AUTH="\"auth\":\"${AUTH}\""
          CONFIG_CREDS="${CONFIG_USER},${CONFIG_PASSWORD},${CONFIG_AUTH}"
          CONFIG_PATH="${DIR}/default/dockerconfig"
          CONFIG_JSON="{\"auths\":{\"${IP}:30080\":{${CONFIG_CREDS}}}}"
          echo -n ".dockerconfigjson=${CONFIG_JSON}" > ${CONFIG_PATH}

      - name: deploy kubernetes folder
        run: |
          kubectl apply -k kubernetes/registry
          kubectl apply -k kubernetes/default

      - name: Deploy cert manager
        run: |
          kubectl apply \
            --filename https://github.com/cert-manager/cert-manager/releases/download/v1.19.1/cert-manager.yaml
          kubectl wait --namespace cert-manager \
           --for=condition=Available deployments \
           --all \
           --timeout=300s

      - name: Remove htpasswd from runner
        run: |
          DIR=/home/runner/actions-runner/_work/platform-engineering-minikube-demo/platform-engineering-minikube-demo/kubernetes
          sudo rm ${DIR}/registry/htpasswd
          sudo rm ${DIR}/default/dockerconfig

      - name: Install Kratix
        run: |
          kubectl apply \
           --filename https://github.com/syntasso/kratix/releases/latest/download/install-all-in-one.yaml
          kubectl wait --namespace kratix-platform-system \
            --for=condition=Available deployments \
            --all \
            --timeout=300s

      - name: Configure Kratix
        run: |
          kubectl apply \
            --filename https://github.com/syntasso/kratix/releases/latest/download/config-all-in-one.yaml
          kubectl wait --namespace kratix-platform-system \
            --for=condition=Available deployments \
            --all \
            --timeout=300s

      - name: Instal Runtime marketplace module
        run: |
          kubectl apply \
            --filename https://raw.githubusercontent.com/syntasso/kratix-marketplace/main/runtime/promise.yaml
