name: Deploy Kubernetes

permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    paths:
      - ".github/workflows/deploy_kubernetes.yml"
      - "kubernetes/**"
  pull_request:

jobs:
  deploy-kubernetes:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: deploy kubernetes folder
        run: |
          kubectl apply -k kubernetes/registry
          kubectl apply -f kubernetes/default

      - name: Deploy cert manager
        run: |
          kubectl apply \
            --filename https://github.com/cert-manager/cert-manager/releases/download/v1.19.1/cert-manager.yaml
          kubectl wait --namespace cert-manager \
           --for=condition=Available deployments \
           --all \
           --timeout=300s

      - name: Install Kratix
        run: |
          kubectl apply \
           --filename https://github.com/syntasso/kratix/releases/latest/download/install-all-in-one.yaml
          kubectl wait --namespace kratix-platform-system \
            --for=condition=Available deployments \
            --all \
            --timeout=300s

      - name: Configure Kratix
        run: |
          kubectl apply \
            --filename https://github.com/syntasso/kratix/releases/latest/download/config-all-in-one.yaml
          kubectl wait --namespace kratix-platform-system \
            --for=condition=Available deployments \
            --all \
            --timeout=300s

      - name: Instal Runtime marketplace module
        run: |
          kubectl apply \
            --filename https://raw.githubusercontent.com/syntasso/kratix-marketplace/main/runtime/promise.yaml
